<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>EDIT PRODUCT</h1>
                <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">    
                    <div class="mb-3">
                        <label for="" class="">name</label>
                        <input type="text" name="name" class="form-control" value="{{product.name}}">

                        <label for="" class="">Category</label>
                        <input type="text" name="Category" class="form-control" value="{{product.Category}}">

                        <label for="" class="">Price</label>
                        <input type="text" name="Price" class="form-control" value="{{product.Price}}" >

                        <label for="" class="">Discription</label>
                        <input type="text" name="Discription" class="form-control" value="{{product.Discription}}">

                         <label for="" class="">Image</label>
                         <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px;height: auto;" id="imgView" class="pt-3 mb-3">

                        <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
                    
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])           //edit page il image edukkumbol image maran vendi
    }
</script>