<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">ITEM</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">QUANTITY</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each products}}

                <tr>

                    <td><img src="/product-images/{{this.product._id}}.jpg" style="width: 60px;height: 60px;"></td>
                    <td>{{this.product.name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <button class="cart-item-count btn btn-outline-success" style="margin-right: 10px;border-radius: 0;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        
                        <button class="cart-item-count btn btn-outline-success" style="margin-left: 10px;border-radius: 0;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger">REMOVE</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
        <hr>
        <h4 class="" style="float: right; margin-right: 127px; margin-top: 27px;font-family: 'Lucida Sans';font-size: large;">TOTAL RS .<span id="total">{{totalValue}}</span></h4>
        <a href="/place-order" class="place-order btn btn-primary " style="float: right; text-decoration: none; margin-top: 65px; margin-right: -10rem;padding-left: 25px;padding-right: 25px;">PLACE ORDER</a>                 
    </div>
</section>



<script>
    function changeQuantity(cartId, productId,userId,count) {
        let quantity=parseInt(document.getElementById(productId).innerHTML)
        count=parseInt(count)
        console.log(userId)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user:userId,
                cart: cartId,
                product: productId,
                count: count,
                quantity:quantity

            },
            method: 'post',
            success: (response) => {
                if(response.removeProduct){
                    alert("Product Removed From Cart")
                    location.reload()
                }else{
                    document.getElementById(productId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
                


            }
        })
    }
</script>


<style>
    .place-order:hover{
        background-color:blue;
    }
</style>